@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(../img/back.png);
}
.wrapper{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    /* なぜbodyのbackgroundが透けるのか */
    background-color: #fff;
    padding-left: 65px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
main{
    max-width: 770px;
}
/* h1{
    width: 770px;
    font-size: 25px;
    font-weight: normal;
    min-height: 36px;
    padding-left: 56px;
    margin-bottom: 22px;
    background-image: url(../img/midashi01.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: bottom;
} */
/* あとは、ボックス内の文字を下につけたいけど、そのcssは後回し */
h1{
    width: 770px;
    font-size: 30px;
    font-weight: normal;
    min-height: 36px;
    margin-bottom: 10px;
}
h1::before{
    content: url("../img/midashi01.png");
    background-repeat: no-repeat;
    margin-right: 15px;
}
/* h2{
    font-size: 20px;
    padding-left: 1em;
    background-color: #00a3d9;
    color: #fff;
    min-height: 45px;
    display: flex;
    align-items: center;
} */
h2{
    width: 100%;
    font-size: 20px;
    padding-left: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: #00a3d9;
    color: #fff;
    position: relative;

}
h2::before{
    content: '';
    position: absolute;
    top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 14px solid #00a3d9;
}
h3{
    font-size: 20px;
    font-weight: normal;
    color: #00a3d9;
    margin-bottom: 1em;
}
p{
    font-size: 14px;
}
dt{
    font-size: 18px;
}
dd{
    font-size: 14px;
}
time{
    font-size: 12px;
}
th{
    font-weight: normal;
}
th,td{
    font-size: 14px;
    padding-left: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: left;
    vertical-align: middle;

}
li{
    font-size: 14px;
}
a{
    display: block;
    color:#00a3d9;
}
a:visited{
    color:#00a3d9;
}
img{
    display: block;
}
header{
    border-top: 9px solid #00a3d9;
    padding-top: 13px;
    padding-bottom: 13px;
    background: linear-gradient(180deg, #ffffff 0%, #e7eeee 100%);
    border-bottom: 1px dotted #040000;
}
header .wrapper{
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
    background-color: inherit;
}
header p{
    height: 38px;
    font-size: 12px;
    border-radius: 4px;
    background-color: #ccd5de;
    padding-left: 1em;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: column;
}
nav li{
    list-style-type: none;
    margin-bottom: 3px;
}
nav li .here,nav li a:hover{
    background-color: #00a3d9;
    color: #fff;
}
nav li a{
    height: 47px;
    width: 200px;
    background-color: #f5f5f5;
    text-decoration: none;
    font-weight: bold;
    padding-left: 1em;
    display: flex;
    align-items: center;
    color: #00a3d9;
}
nav li .anchor-link{
    padding-left: 2em;
    font-weight: normal;
}
.h1-box{
    padding-bottom: 30px;
    border-bottom: double #ccd5de;
    margin-bottom: 30px;
}
footer{
    height: 100px;
    padding-top: 15px;
    background-color: #7a8c96;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    color: #fff;
    font-size: 12px;
}
.sns{
    margin-top: 60px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.sns-box{
    background-color: #fff;
    display: flex;
}.sns-box a{
    padding: 15px;
}
.sns-box p{
    border-left: 3px solid #f5f5f5;
    padding-left: 15px;
    width: 296px;
    display: flex;
    align-items: center;
}
/* index.html固有 */
.main-img{
    margin-bottom: 30px;
}
.main-img img{
    border-radius: 10px;
    display: block;
}
.news{
    margin-bottom: 56px;
}
.news h1{
    font-size: 30px;
    min-height: 40px;
}
.news h1::before{
    content: url("../img/icon01.png");
    background-repeat: no-repeat;
    margin-right: 12px;

}
.news-list{
    border-top: 1px dotted #040000;
}
.news a{
    font-size: 16px;
}
dl{
    padding: 20px 15px 29px 15px; 
    border-bottom: 1px dotted #040000;;
    border-collapse: collapse;
    max-width: 100%;
    padding-left: 50px;
}
dt{
    display: flex;
    justify-content:space-between;
    font-size: 18px;
    /* 吹き出しアイコンの位置調整 */
    background-image: url(../img/icon02.png);
    background-repeat: no-repeat;
    padding-left: 35px;
    margin-left: -35px;
}
dt a{
    font-size: 18px;
}
dd{
    margin-top: 1em;
}
.pickup h2{
    padding-left: 30px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
}
.pickup h2::before{
    background-repeat: no-repeat;
    object-fit: contain;
    top: 0;
    left: 0;
    margin-left: 0;
    border: 0;
    border-top: 0;
}
.pickup h2::after{
    content: url(../img/icon03.png);
    margin-left: -5em;
    
}
h3{
    font-size: 20px;
    font-weight: normal;
    color: #00a3d9;
}
.pickup-container{
    padding: 35px 8px 38px 8px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #13b7eb;
    background-color: #f5f5f5;
}
.pickup-box{
    max-width: 245px;
}
.pickup-box img{
    margin-bottom: 8px;
}
.pickup-box a{
    display: inline;
    font-size: 14px;
}
.pickup-box p{
    font-size:12px;
}
/* aboutus.html固有 */
.section-item{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: flex-start;
}
.section-img{
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-img p{
    color: #00a3d9;
    margin-top: 5px;
}
#company{
    margin-top: 50px;
    margin-bottom: 60px;
}
#company table{
    width: 445px;
}
#company th,#company td{
    border-bottom: 1px solid #ccd5de;
}
#company th{
    width: 85px;
    font-size: 16px;
}
#company .section-img{
    margin-bottom: 10px;
}

/* section#access */
#access{
    margin-bottom: 110px;
}
.access-route{
    background-color: #f5f5f5;
    width: 300px;
    padding: 1em;
    font-size: 14px;
}
#access th,#access td{
    padding-top: 2em;
    padding-bottom: 2em;
}
#access th{
    background-color: #dceef7;
    width: 80px;
}
#access td{
    background-color: #f5f5f5;
    width: 355px;
}
#access a{
    display: inline;
}
/* recruit.html */
.recruit{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 110px;
}
.recruit-table{
    width: 440px;
}
.recruit th{
    background-color: #e6e6e6;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.recruit td{
    padding: 1em;
    border: 1px solid #ccd5de;
    width: 360px;
}
.inner-table{
    margin-top: -1em;
    margin-bottom: -1em;
    border-collapse: collapse;
}
.inner-table th{
    background-color: #fff;
    width: 90px;
    padding-left: 0;
    padding-right: 0;
}
.inner-table td{
    border: none;
    padding-left: 0;
    padding-right: 0;
}
.inner-table .dotted{
    border-bottom: 1px dotted #b3b3b3;
}
.saiyou{
    color: #00a3d9;
}
/* products.html */
.products-section-container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
.tokuchou-txt p{
    margin-bottom: 1em;
}
.jirei-container{
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    border-right: 1px solid #00a3d9;
    border-bottom: 1px solid #00a3d9;
    border-left: 1px solid #00a3d9;
}
.tokuchou-txt{
    margin-right: 30px;
}
#office table{
    width: 100%;
}
#office th,#office td{
    padding:0.5em ;
    vertical-align: baseline;
}
#office .pref{
    background-color: #dceef7;
}
#office th{
    background-color: #00a3d9;
    color: #fff;
    font-size: 14px;
}
#office td{
    background-color: #f3f3f3;
    font-size: 12px;
    color: #00a3d9;
}